<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdminWSPortBinding" />
                <binding name="PacienteWSPortBinding" />
                <binding name="RegistroWSPortBinding" />
                <binding name="UsuarioWSPortBinding" />
                <binding name="LoginWSPortBinding" />
                <binding name="MedicoWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/SoftCitWS/LoginWS" binding="basicHttpBinding"
                bindingConfiguration="LoginWSPortBinding" contract="loginWS.LoginWS"
                name="LoginWSPort" />
            <endpoint address="http://localhost:8080/SoftCitWS/PacienteWS"
                binding="basicHttpBinding" bindingConfiguration="PacienteWSPortBinding"
                contract="pacienteWS.PacienteWS" name="PacienteWSPort" />
            <endpoint address="http://localhost:8080/SoftCitWS/RegistroWS"
                binding="basicHttpBinding" bindingConfiguration="RegistroWSPortBinding"
                contract="registroWS.RegistroWS" name="RegistroWSPort" />
            <endpoint address="http://localhost:8080/SoftCitWS/AdminWS" binding="basicHttpBinding"
                bindingConfiguration="AdminWSPortBinding" contract="adminWS.AdminWS"
                name="AdminWSPort" />
            <endpoint address="http://localhost:8080/SoftCitWS/MedicoWS"
                binding="basicHttpBinding" bindingConfiguration="MedicoWSPortBinding"
                contract="medicoWS.MedicoWS" name="MedicoWSPort" />
            <endpoint address="http://localhost:8080/SoftCitWS/UsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
                contract="usuarioWS.UsuarioWS" name="UsuarioWSPort" />
        </client>
    </system.serviceModel>
</configuration>