<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="AdminWSPortBinding" />
                <binding name="LoginWSPortBinding" />
                <binding name="UsuarioWSPortBinding" />
                <binding name="PacienteWSPortBinding" />
                <binding name="CitaWSPortBinding" />
                <binding name="RegistroWSPortBinding" />
                <binding name="MedicoWSPortBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://52.70.76.31:8080/SoftCitWS/AdminWS"
                binding="basicHttpBinding" bindingConfiguration="AdminWSPortBinding"
                contract="SoftCitWS.AdminWS" name="AdminWSPort" />
            <endpoint address="http://52.70.76.31:8080/SoftCitWS/LoginWS"
                binding="basicHttpBinding" bindingConfiguration="LoginWSPortBinding"
                contract="SoftCitWS.LoginWS" name="LoginWSPort" />
            <endpoint address="http://52.70.76.31:8080/SoftCitWS/UsuarioWS"
                binding="basicHttpBinding" bindingConfiguration="UsuarioWSPortBinding"
                contract="SoftCitWS.UsuarioWS" name="UsuarioWSPort" />
            <endpoint address="http://52.70.76.31:8080/SoftCitWS/PacienteWS"
                binding="basicHttpBinding" bindingConfiguration="PacienteWSPortBinding"
                contract="SoftCitWS.PacienteWS" name="PacienteWSPort" />
            <endpoint address="http://52.70.76.31:8080/SoftCitWS/CitaWS"
                binding="basicHttpBinding" bindingConfiguration="CitaWSPortBinding"
                contract="SoftCitWS.CitaWS" name="CitaWSPort" />
            <endpoint address="http://52.70.76.31:8080/SoftCitWS/RegistroWS"
                binding="basicHttpBinding" bindingConfiguration="RegistroWSPortBinding"
                contract="SoftCitWS.RegistroWS" name="RegistroWSPort" />
            <endpoint address="http://52.70.76.31:8080/SoftCitWS/MedicoWS"
                binding="basicHttpBinding" bindingConfiguration="MedicoWSPortBinding"
                contract="SoftCitWS.MedicoWS" name="MedicoWSPort" />
        </client>
    </system.serviceModel>
</configuration>